@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}

.btn-container {
  text-align: center;
}

.btn {
  padding: 14px 18px 14px 18px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(82, 195, 3);
  border-radius: 5px;
  border: none;
}

#hero {
  /* height: 1286px; */
  height: 615px;
  background-image: linear-gradient(
      0,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  /* width: 1400px; */
  width: 685px;
  margin: 0 auto;
}

#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10px;
}

#hero .hero-content .title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 14px;
}

#hero .hero-content .description {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}
